@model dynamic
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PayMob</h1>
    <p>
        To check out using on-line payment please
        <a href="https://accept.paymob.com/unifiedcheckout/?publicKey=egy_pk_test_FJbzCA7nEOVjH01byl4vlxRr8ksAABUp&clientSecret=@Model.clientSecret">Click Here</a>.
    </p>
</div>
