@model dynamic
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PayMob</h1>
    <p>
        To check out using on-line payment please
        <a href="https://accept.paymob.com/api/acceptance/iframes/895093?payment_token=@Model.PaymentToken">Click Here</a>.
    </p>
</div>
